// Menu panel related
.menu-panel.drop-down {
    // margin: 3rem;
    margin: 1rem;
    border-radius: var(--global-border-radius);
    box-shadow: 0px 4px 43px -1px rgba(0,0,0,0.13);
    border: none;
}

.hamburger-panel, .search-menu, .user-menu {
    transform: scale(1) translateY(1.5rem);
    animation: flyIn .25s cubic-bezier(.175,.885,.32,1.15),transform .15s cubic-bezier(.175,.885,.32,1.15);
}