.discourse-subscriptions-section-columns {
  justify-content: center;
  .section-column {
    background: var(--primary-low);
    border-radius: var(--global-border-radius);
    padding: 1rem;
  }

  .StripeElement {
    border: 1px solid #e2e8f0;
    border-radius: var(--global-border-radius);
    color: #4a5568;
    box-shadow: inset 0 1px 2px rgba(31, 45, 61, 0.075);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    &:focus,
    .is-expanded {
      border-color: var(--tertiary-medium);
      outline: 0;
      box-shadow: inset 0 1px 2px rgba(31, 45, 61, 0.075),
        0 0 20px rgba($tertiary-medium, 0.1);
    }
  }

  .btn-primary {
    background: var(--tertiary-darkened);
    color: white;

    &:hover,
    &:focus {
      background: rgba($tertiary-darkened, 0.8);
    }
  }
}
