.product-list {
    justify-content: flex-start;
}
.product {
    background: var(--primary-low);
    border-radius: var(--global-border-radius);
    transition: transform 0.25s cubic-bezier(.175,.885,.32,1.15);

    &:hover, &:focus {
        transform: scale(1.05);
    }

    .product-purchase {
        .btn-primary {
            background-color: var(--tertiary);
            &:hover {
                background-color: darken($tertiary, 5%);
            }
        }
        .billing-link {
            color: var(--primary);
            transition: color 0.25s ease;
            &:hover {
                color: var(--tertiary-darkened);
            }
        }
    }
}