.d-header {
    box-shadow: none;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.05);

    &-icons {
        .d-icon {
            font-size: 1.4rem;
            color: #d4d9e1;
        }

    }
}

.headerLink a {
     // TODO remove important flag after removing style from plugin:
    padding: 0.5rem 1rem !important; 
    color: var(--primary) !important;
    background: var(--primary-low);
    border-radius: 9999px;
    transition: color 0.25s ease, background-color 0.25s ease;
    &:hover {
        color: var(--tertiary) !important;
        background: var(--tertiary-low);
    }
}