// User Menu
.user-menu {
  .quick-access-panel {
    border-top: none;
  }
  .glyphs {
    background: rgba($tertiary-low, 0.5);
    border-radius: 0.375rem;
    .d-icon {
      color: var(--tertiary-high);
    }
  }
  .menu-links-row {
    border-bottom: none;
  }
  .menu-links-header .menu-links-row {
    button {
      border-radius: 0.375rem;
    }
    button.active {
      border: none;
      background: var(--tertiary-high);
      .d-icon {
        color: lighten($tertiary-low, 10%);
      }
    }
    button:not(.active):hover {
      background: rgba($tertiary-medium, 0.3);
      .d-icon {
        color: var(--tertiary-high);
      }
    }
  }
}
