html {
    background: #f6f9fb;
}

#main-outlet {
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: var(--global-border-radius);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.05);
}
