html {
    background: #f6f9fb;
}

#main-outlet {
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: var(--global-border-radius);
    box-shadow: var(--primary-box-shadow);
}
